{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles  %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/daterangepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/bootstrap-table.min.css">
  <link rel="stylesheet" type="text/css" href="../static/bootstrap-multiselect.min.css">
{% endblock %}

{% block app_content %}
  <div class="container">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="datetimes" size="35"/>
      </div>

      <div class="form-group">
        <select  class="form-control" id="type">
          <option>全部</option>
          <option>水平切面</option>
          <option>垂直切面</option>
          <option>定点扫描</option>
          <option>走航扫描</option>
        </select>
      </div>

      <div class="form-group">
        <!-- <input type="button" class="form-control" id="checkTask" value="检索" style="width: 8rem;"> -->
        <!-- <input type="button" class="form-control" id="importTask" value="导入" style="width: 8rem;"> -->
        <button type="button" class="btn btn-default" aria-label="Left Align" id="checkTask" style="width: 8rem;">
          检索
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id="importTask" style="width: 8rem;">
          导入
        </button>
      </div>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">检索结果</div>
      <table class="table table-hover table-striped" id="task-table">
          <thead>
            <tr>
              <th data-field="serialN">序号</th>
              <th data-field="timespan">起止时间</th>
              <th data-field="mode">扫描类型</th>
              <th data-field="datanum">数据量</th>
              <th data-field="export" data-formatter="LinkFormatter">操作</th> 
            </tr>
          </thead>
          <tbody id = task-rows>
          </tbody>
      </table>
    </div>
  </div>

    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">导出设置</h4>
          </div>
          <div class="modal-body">
            <div class="row text-left">
              <div class="col-md-7">
                <form>
                  <div class="form-group">
                    <label for="dataType" class="control-label">数据格式</label>
                    <select  class="form-control" id="dataType">
                      <option selected>文本文件</option>
                      <option>数据库文件</option>
                    </select>
                  </div>
                  <div class="collapse" id="collapseExample">
                  <div class="form-group">
                    <label for="dataChannel" class="control-label">数据内容</label>
                    <select  class="form-control" multiple="multiple" id="dataChannel">
                      <option value="ChAB">原始信号</option>
                      <option value="ChABPR2">距离校正信号</option>
                      <option value="Ext">消光系数</option>
                      <option value="Dep">退偏比</option>
                      <option value="PBL">污染边界层</option>
                      <option value="PM10">PM10</option>
                      <option value="PM25">PM2.5</option>
                      <option value="AOD">气溶胶光学厚度</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="dateRange" class="control-label">时间范围</label>
                    <input type="text" class="form-control" id="dateRange">
                  </div>
                  <div class="form-group">
                    <label for="rc" class="control-label">参考点距离</label>
                    <input type="number" class="form-control" value="15000" max="30000" min="0" step="15" id="rc">
                  </div>
                  <div class="form-group">
                    <label for="sa" class="control-label">雷达比</label>
                    <input type="number" class="form-control" value="40" max="100" min="1" step="1" id="sa">
                  </div>
                  <div class="form-group">
                    <label for="snrT" class="control-label">信噪比阈值</label>
                    <input type="number" class="form-control" value="2" max="10000" min="0" step="1" id="snrT">
                  </div>
                  <div class="form-group">
                    <label for="pblT" class="control-label">边界层阈值</label>
                    <input type="number" class="form-control" value="0.5" max="1" min="0" step="0.05" id="pblT">
                  </div>
                  </div>
                </form>           
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="confirmExport" class="btn btn-primary">确定</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block app_scripts %}
<script>
  var urlExportTask = "{{ url_for('main.export_task') }}";
  var urlBrowse = "{{ url_for('main.browse') }}";
  var urlBrowseTask = "{{ url_for('main.browse_task') }}";
  var urlDeleteTask = "{{ url_for('main.delete_task') }}";
  var urlPPI = "{{ url_for('main.get_ppi_data') }}";
  var urlRHI = "{{ url_for('main.get_rhi_data') }}";
  var urlMOV = "{{ url_for('main.get_mov_data') }}";
  var urlLOS = "{{ url_for('main.get_los_data') }}";
  var urlImportTask = "{{ url_for('main.import_task') }}";
</script>
<script type="text/javascript" src="../static/moment.min.js"></script>
<script type="text/javascript" src="../static/daterangepicker.min.js"></script>
<script type="text/javascript" src="../static/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../static/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../static/bootstrap-multiselect.min.js"></script>
<script type="text/javascript" src="../static/browse.min.js"></script>
{% endblock %}