{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles  %}
<link rel="stylesheet" type="text/css" href="../static/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="../static/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
<style type="text/css">
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #confirmType{
    float:right;
  }
</style>
{{ super() }}
{% endblock %}

{% block app_content %}
    <input type="text" name="datetimes" size="40"/>
    <select  id="type" onchange="selectScanType()"> 
      <option>全部</option>
      <option>水平切面</option>
      <option>垂直切面</option>
      <option>定点扫描</option>
      <option>走航扫描</option>
    </select>
    <input type="button" value="   检索   " size="30" onclick="checkTask()">
    <input type="button" value="   导入   " size="30" onclick="ImportTask()">
    <input id = "importWaiting" type="image" src="../static/loading1.gif" style="visibility: hidden">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">检索结果</div>
    
      <!-- Table -->
      <table class="table table-hover" id="task-table">
          <thead>
            <tr>
              <th data-field="serialN">序号</th>
              <th data-field="timespan">起止时间</th>
              <th data-field="mode">扫描类型</th>
              <th data-field="datanum">数据量</th>
              <th data-field="export" data-formatter="LinkFormatter">操作</th> 
            </tr>
          </thead>
          <tbody id = task-rows>
          </tbody>
      </table>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>选择数据格式</p>
        <input type="radio" name="exportType" id="txt"> 文本文件
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="radio" name="exportType" id="db" > 数据库文件
      </div>
    </div>
{% endblock %}

{% block app_scripts %}
<script>
  var urlExportTask = "{{ url_for('main.export_task') }}";
  var urlBrowse = "{{ url_for('main.browse') }}";
  var urlBrowseTask = "{{ url_for('main.browse_task') }}";
  var urlDeleteTask = "{{ url_for('main.delete_task') }}";
  var urlPPI = "{{ url_for('main.get_ppi_data') }}";
  var urlRHI = "{{ url_for('main.get_rhi_data') }}";
  var urlMOV = "{{ url_for('main.get_mov_data') }}";
  var urlLOS = "{{ url_for('main.get_los_data') }}";
  var urlImportTask = "{{ url_for('main.import_task') }}";
</script>
<script type="text/javascript" src="../static/jquery.min.js"></script>
<script type="text/javascript" src="../static/moment.min.js"></script>
<script type="text/javascript" src="../static/daterangepicker.js"></script>
<script src="../static/bootstrap-table.min.js"></script>
<script src="../static/browse.min.js"></script>
{% endblock %}