{% extends "base.html" %}

{% block app_content %}
<style type="text/css">
.inputNum {
  width: 6em;
  text-align: right;
}
</style>

<select  id="channelA" onchange="SelectChannelA()">
  <option>平行通道距离校正信号</option>
  <option>垂直通道距离校正信号</option>
  <option>消光系数</option>
  <option>退偏比</option>
  <option>污染边界层</option>
  <option>平行通道原始信号</option>
  <option>垂直通道原始信号</option>
</select>
<span>
  &nbsp;&nbsp;&nbsp;&nbsp;从<input type="number" id="zMinA" value="0" class="inputNum" max="30000" min="15" onchange="ChangeChannelARangeMin()">
  至<input type="number" id="zMaxA" value="3000" class="inputNum" max="30000" min="15" onchange="ChangeChannelARangeMax()">&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<span>
  色标最小值<input type="number" id="colorMinA" value="0" class="inputNum" onchange="ChangeChannelAMin()">
  色标最大值<input type="number" id="colorMaxA" value="10000" class="inputNum" onchange="ChangeChannelAMax()">
</span>

<div id="PRADiv"><!-- Plotly chart will be drawn inside this DIV --></div>

<select  id="channelB" onchange="SelectChannelB()">
    <option>垂直通道距离校正信号</option>
    <option>平行通道距离校正信号</option>
    <option>消光系数</option>
    <option>退偏比</option>
    <option>污染边界层</option>
    <option>平行通道原始信号</option>
    <option>垂直通道原始信号</option>
  </select>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;从<input type="number" id="zMinB" value="0" class="inputNum" max="30000" min="15" onchange="ChangeChannelBRangeMin()">
    至<input type="number" id="zMaxB" value="3000" class="inputNum" max="30000" min="15" onchange="ChangeChannelBRangeMax()">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
  <span>
    色标最小值<input type="number" id="colorMinB" value="0" class="inputNum" onchange="ChangeChannelBMin()">
    色标最大值<input type="number" id="colorMaxB" value="10000" class="inputNum" onchange="ChangeChannelBMax()">
  </span>

<div id="PRBDiv"><!-- Plotly chart will be drawn inside this DIV --></div>

{% endblock %}

{% block app_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var task_id = '{{task_id}}';
    var linePRA=[];
    var linePRB=[];
    var timeat=[];
    var height = [];
    var lineA = [];
    var lineB = [];
    var lineExt = [];
    var lineDep = [];
    var linePbl = [];
    var AMin = 0;
    var AMax = 10000;
    var BMin = 0;
    var BMax = 10000;

    var layoutA = {
            xaxis: {
              title: '时间',
              showline: true,
              tickmode:'auto'
            },
            yaxis: {
              title: '距离(m)',
              showline: true,
              range:[0,3000],
              // fixedrange:true
            }
          };
    
    var layoutB = {
            xaxis: {
              title: '时间',
              showline: true,
              tickmode:'auto'
            },
            yaxis: {
              title: '距离(m)',
              showline: true,
              range:[0,3000],
              // fixedrange:true
            }
          };
    
    $.post('{{ url_for('main.get_los_data') }}', { 'task id': task_id },
        function(data,status){
        if(status == "success"){
          res = data.result[0].resolution;
          leng = data.result[0].raw_A.length;        
          for(let i = 0;i<leng;i++){
            height.push((i+1)*res);
          };
          for(let i=0; i<data.result.length;i++){
            timeat.push(data.result[i].timestamp);
            lineA.push(data.result[i].raw_A);
            lineB.push( data.result[i].raw_B);
            linePRA.push(data.result[i].prr_A);
            linePRB.push(data.result[i].prr_B);
            lineExt.push(data.result[i].ext);
            lineDep.push(data.result[i].dep);
            linePbl.push(data.result[i].pbl);
          };

          var PRA_data = [
            {
              z: linePRA,
              x: timeat,
              y: height,
              zmin: 0,
              zmax: 10000,
              type: 'heatmap',
              transpose: true,
              colorscale:'Jet'
            }
          ];

          var PRB_data = [
            {
              z: linePRB,
              x: timeat,
              y: height,
              zmin:0,
              zmax: 10000,
              type: 'heatmap',
              transpose: true,
              colorscale:'Jet'
            }
          ];

          Plotly.newPlot('PRADiv', PRA_data, layoutA);
          Plotly.newPlot('PRBDiv', PRB_data, layoutB);
        };  
      });

    function SelectChannelA(){
        var channel = document.getElementById('channelA');
        var drawData;
        switch(channel.options[channel.selectedIndex].text){
          case '平行通道距离校正信号':
            drawData = linePRA;
            break;
          case '垂直通道距离校正信号':
            drawData = linePRB;
            break;
          case '消光系数':
            drawData = lineExt;
            break;
          case '退偏比':
            drawData = lineDep;
            break;
          case '平行通道原始信号':
            drawData = lineA;
            break;
          case '垂直通道原始信号':
            drawData = lineB;
            break;
        };
        var data = [
            {
              z: drawData,
              x: timeat,
              y: height,
              zmin: AMin,
              zmax: AMax,
              type: 'heatmap',
              transpose: true,
              colorscale:'Jet'
            }
          ];
        Plotly.react('PRADiv',data,layoutA);
      }

    function ChangeChannelAMax(){
      var colorMax = document.getElementById('colorMaxA');
      AMax = colorMax.value;
      var update = {
        zmax:AMax
      };
      Plotly.restyle('PRADiv',update);
    }

    function ChangeChannelAMin(){
      var colorMin = document.getElementById('colorMinA');
      AMin = colorMin.value;
      var update = {
        zmin:AMin
      };
      Plotly.restyle('PRADiv',update);
    }
  
    function ChangeChannelARangeMax(){
      var rangeMax = document.getElementById('zMaxA');
      layoutA.yaxis.range[1] = rangeMax.value;
      var update = {
        'yaxis.range[1]':rangeMax.value
      };
      Plotly.relayout('PRADiv',update);
    }

    function ChangeChannelARangeMin(){
      var rangeMin = document.getElementById('zMinA');
      layoutA.yaxis.range[0] = rangeMin.value;
      var update = {
        'yaxis.range[0]':rangeMin.value
      };
      Plotly.relayout('PRADiv',update);
    }

    function SelectChannelB(){
        var channel = document.getElementById('channelB');
        var drawData;
        switch(channel.options[channel.selectedIndex].text){
          case '平行通道距离校正信号':
            drawData = linePRA;
            break;
          case '垂直通道距离校正信号':
            drawData = linePRB;
            break;
          case '消光系数':
            drawData = lineExt;
            break;
          case '退偏比':
            drawData = lineDep;
            break;
          case '平行通道原始信号':
            drawData = lineA;
            break;
          case '垂直通道原始信号':
            drawData = lineB;
            break;
        };
        var data = [
            {
              z: drawData,
              x: timeat,
              y: height,
              zmin: BMin,
              zmax: BMax,
              type: 'heatmap',
              transpose: true,
              colorscale:'Jet'
            }
          ];
        Plotly.react('PRBDiv',data,layoutB);
      }

    function ChangeChannelBMax(){
      var colorMax = document.getElementById('colorMaxB');
      BMax = colorMax.value;
      var update = {
        zmax:BMax
      };
      Plotly.restyle('PRBDiv',update);
    }

    function ChangeChannelBMin(){
      var colorMin = document.getElementById('colorMinB');
      BMin = colorMin.value;
      var update = {
        zmin:BMin
      };
      Plotly.restyle('PRBDiv',update);
    }
  
    function ChangeChannelBRangeMax(){
      var rangeMax = document.getElementById('zMaxB');
      layoutB.yaxis.range[1] = rangeMax.value;
      var update = {
        'yaxis.range[1]':rangeMax.value
      };
      Plotly.relayout('PRBDiv',update);
    }

    function ChangeChannelBRangeMin(){
      var rangeMin = document.getElementById('zMinB');
      layoutB.yaxis.range[0] = rangeMin.value;
      var update = {
        'yaxis.range[0]':rangeMin.value
      };
      Plotly.relayout('PRBDiv',update);
    }

</script>

{% endblock %}