{% extends "base.html" %}

{% block app_content %}
<h1>{{ task_id }}</h1>
<div id="PRADiv"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="PRBDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
{% endblock %}

{% block app_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var task_id = '{{task_id}}';
    var taskdata = {};
    $(function() {
        $.post('{{ url_for('main.get_Los_data') }}',
           { 'task id': task_id },
           function(data,status){
             linePRA=[];
             linePRB=[];
             timeat=[];
             res = data.result[0].resolution;
             leng = data.result[0].raw_A.length;
             height = [];
             for(let i = 0;i<leng;i++){
               height.push((i+1)*res);
             };
            if(status == "success"){
              for(let i=0; i<data.result.length;i++){
                var obj = {};
                timeat.push(data.result[i].timestamp);
                obj.chA = data.result[i].raw_A;
                obj.chB = data.result[i].raw_B;
                linePRA.push(data.result[i].prr_A);
                linePRB.push(data.result[i].prr_B);
              };

              var PRA_data = [
                {
                  z: linePRA,
                  x: timeat,
                  y: height,
                  zmin: 0,
                  zmax: 10000,
                  type: 'heatmap',
                  transpose: true,
                  colorscale:'Jet'
                }
              ];

              var PRB_data = [
                {
                  z: linePRB,
                  x: timeat,
                  y: height,
                  zmin:0,
                  zmax: 10000,
                  type: 'heatmap',
                  transpose: true,
                  colorscale:'Jet'
                }
              ];
              
              var layout = {
                xaxis: {
                  title: '时间',
                  showline: true,
                  tickmode:'auto',
                  nticks: 6
                },
                yaxis: {
                  title: '距离(m)',
                  showline: true,
                  range:[0,3000],
                  // fixedrange:true
                }
              };

              Plotly.newPlot('PRADiv', PRA_data, layout);
              Plotly.newPlot('PRBDiv', PRB_data, layout);
            };  
          });
    })
</script>

{% endblock %}