{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <input type="text" name="datetimes" size="40"/>
    <input type="button" value="检索" size="20" onclick="checkTask()">
    <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">检索结果</div>
          
            <!-- Table -->
            <table class="table table-hover" id="task-table">
                <thead>
                  <tr>
                    <th data-field="serialN">序号</th>
                    <th data-field="timespan">起止时间</th>
                    <th data-field="mode">扫描类型</th>
                    <th data-field="datanum">数据量</th>
                  </tr>
                </thead>
                <tbody id = task-rows>
                </tbody>
              </table>
          </div>
{% endblock %}

{% block app_scripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script>
      var startTime = moment().startOf('second').subtract(3, 'days');
      var endTime = moment().startOf('second');
        $(function() {
            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                timePickerSeconds:true,
                startDate: startTime,
                endDate: endTime,
                locale: {
                    format: 'YYYY/MM/DD HH:mm:ss',
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    fromLabel: '从',
                    toLabel: '至',
                    customRangeLabel: 'Custom',
                    weekLabel: '周',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    firstDay: 1
                }
            },
            function(start, end) {
              startTime = start;
              endTime = end;    
              }
            );
        });
        var mode = {"LOS":"定点扫描",
                    "MOV":'走航扫描',
                    'PPI':'水平切面',
                    'RHI':'垂直切面'}
        var srId={};
        function checkTask(){
          var tbody = $('#task-rows');     
          $.post('{{ url_for('main.browse') }}',
           { 'start time': startTime.format('YYYY-MM-DD HH:mm:ss'),
             'end time': endTime.format('YYYY-MM-DD HH:mm:ss') },
           function(data,status){
            tbody.empty();
            if(status == "success"){
              // for(let i=0; i<data.result.length;i++){
              //   $('<tr>').append(
              //     $('<td>').text(data.result[i].start_time+' - '+data.result[i].end_time),
              //     $('<td>').text(mode[data.result[i].mode]),
              //     $('<td>').text(data.result[i].data_num)).appendTo(tbody);
              // };
              var taskdata=[];
              srId = {};
              for(let i=0; i<data.result.length;i++){
                var obj = {};
                obj.serialN = i+1;
                obj.timespan = data.result[i].start_time+' - '+data.result[i].end_time;
                obj.mode = mode[data.result[i].mode];
                obj.datanum = data.result[i].data_num;
                taskdata.push(obj);
                srId[obj.serialN] = data.result[i].id;
              };
              $('#task-table').bootstrapTable({
                    data: taskdata,
                  });
              $('#task-table').bootstrapTable('load', taskdata);
            };  
          });
        };

        $('#task-table').on('click-cell.bs.table', function (field, value, row, $el) {
 	  if (value !="type"){
   	  // alert($el.timespan+"-"+$el.mode+"-"+$el.datanum);
      //  window.open("https://www.stackoverflow.com")
      alert(srId[$el.serialN]);
    }
  });

    </script>
{% endblock %}